.vbox-menu {
    -fx-background-color: #6f6af8;
    /*-fx-padding: 20;*/
}

.lb-hello {
    -fx-text-fill: #fdfffd;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 20;
    -fx-pref-width: Infinity;
}

.btn-logout {
    -fx-background-color: transparent;
    -fx-text-fill: #fdfffd;
    -fx-font-size: 13;
    -fx-cursor: hand;
    -fx-pref-width: Infinity;
}

.btn-logout:hover {
    -fx-font-weight: bold;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.btn-cate {
    -fx-background-color: #e5e7f6;
    -fx-background-radius: 15;
    -fx-text-fill: #141140;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.btn-cate:hover {
    -fx-background-color: #d1d8f5;
    -fx-effect: dropshadow(gaussian, #d1d8f5, 10, 0.1, 1, 1);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.flowpane-event-container {
    -fx-background-color: #f8fafb;
}

.scroll-pane {
    -fx-background-insets: 0;
}


