.root {
    -fx-background-color: #6f6af8;
}

.title {
    -fx-text-fill: #fefefe;
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.input {
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: #898398;
    -fx-text-fill: #24215b;
    -fx-font-size: 14;
    -fx-border-radius: 5;
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
}

.input:focused {
    -fx-border-color: #a49cc3;
}

.button-sign-up {
    -fx-background-color: #1c1954;
    -fx-font-size: 15;
    -fx-text-fill: #fdfafd;
    -fx-cursor: hand;
    -fx-pref-height: 35;
    -fx-font-weight: bold;
}

.button-sign-up:hover {
    -fx-background-color: #ef9815;
}

.normal-lable {
    -fx-text-fill: #f9f8fe;
}

.button-text {
    -fx-background-color: transparent;
    -fx-text-fill: #f5f7fd;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.check-box {
    -fx-text-fill: #e6e1f2;
    -fx-cursor: hand;
}